html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/***********************************************\
* MIXINS
\***********************************************/

/***********************************************\
* GLOBAL
\***********************************************/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

.container {
	position: relative;
	width: 900px;
	margin: auto;
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
}

.button {
	padding: 8px 16px;
	border: none;
	border-radius: 1px;
	cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	    -ms-appearance: none;
	     -o-appearance: none;
	        appearance: none;
}

.button-blue {
	@extend .button;
	background: rgba(70, 136, 241, 1);
	color: rgba(255, 255, 255, 1);

	&:hover {
		background: rgba(65, 130, 225, 1);
	}
}

.button-red {
	@extend .button;
	background: rgba(231, 92, 53, 1);
	color: rgba(255, 255, 255, 1);

	&:hover {
		background: rgba(210, 90, 50, 1);
	}
}

/***********************************************\
* HEADER
\***********************************************/
header {
	padding: 10px 0;
}

/***********************************************\
* EDITOR
\***********************************************/
.bb-node::selection, .bb-node ::selection {
	background: rgba(66, 66, 122, 0.25);
}

.bb-node::-moz-selection, .bb-node ::selection {
	background: rgba(66, 66, 122, 0.25);
}

.bb-editable {
	display: inline-block;
	width: 100%;
	background: transparent;
	padding: 0;
	box-shadow: none;
	-webkit-transition: all .2s;
	   -moz-transition: all .2s;
	    -ms-transition: all .2s;
	     -o-transition: all .2s;
	        transition: all .2s;

	&.bb-editing {
		background: rgba(255, 255, 255, 0.25);
		margin-bottom: 50px;
		padding: 8px 12px;
		box-shadow: 0px 0px 0px 1px rgba(66, 66, 122, 0.25);
		border-radius: 1px;
		outline: none;
	}
}

.bb-node[data-type=image] {
	display: inline-block;
	width: auto;

	& .bb-editable {
		line-height: 0;

		&.bb-editing {
			padding: 8px;
		}
	}
}

.bb-node .bb-buttons {
	position: absolute;
	display: block;
	min-width: 350px;
	margin-top: -50px;

	.button {
		display: inline-block;
		position: relative;
		margin: 10px 10px 10px 0;
		-webkit-transition: all .2s;
		   -moz-transition: all .2s;
		    -ms-transition: all .2s;
		     -o-transition: all .2s;
		        transition: all .2s;
	}
}

.bb-file {
	display: none;
}

.content {
	display: inline-block;
	width: 80%;
	margin: 0;
}

/***********************************************\
* SIDEBAR
\***********************************************/
.sidebar {
	float: right;
	width: 20%;
	padding: 0 10px;
}